.file-drop-zone {
    display: flex;
    width: 300px;
    border: 3px dotted #fb275d;
    align-items: center;
    margin-bottom: 2px;
    padding: 3px;
}

.hover {
    border-style: solid;
    background-color: #00ca71;
}

::deep input[type=file] {
    width: 100%;
    padding: 20px;
}
