@import '_content/beinx.web/beinx.web.b0rpzvtw6i.bundle.scp.css';
@import '_content/BlazorInvoice.Pdf/BlazorInvoice.Pdf.j9zyoahwxo.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-8szp3cqa30] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-8szp3cqa30] {
    padding-top: 70px;
}

#blazor-error-ui[b-8szp3cqa30] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-8szp3cqa30] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
