@using BlazorInvoice.Weblib
@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        <div class="container-fluid">
            @Body
        </div>
    </main>
    <pax.BBToast.ToastContainer />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>