/* _content/beinx.web/NavMenuCanvas.razor.rz.scp.css */
.crop[b-nje7tfjyek] {
    width: 105px;
    height: 30px;
    background-color: antiquewhite;
    overflow: hidden;
}

    .crop img[b-nje7tfjyek] {
        width: 85px;
        height: 85px;
        margin: -26px 0 0 10px;
    }
