@using Microsoft.Extensions.Localization
@using beinx.loc
@using beinx.shared
@using pax.BlazorChartJs
@inject IStringLocalizer<InvoiceLoc> Loc
	

<div class="border rounded border-secondary bgchart"
     style="min-width: 400px; width: 100%; aspect-ratio: 2 / 1; min-height: 200px; max-width: 800px; max-height: 400px;">
    <ChartComponent ChartJsConfig="chartJsConfig" OnEventTriggered="ChartEventTriggered" />
</div>

@code {
    [Parameter, EditorRequired]
    public StatsResponse StatsResponse { get; set; } = null!;

    private ChartJsConfig chartJsConfig = null!;
    private bool chartIsReady;

    protected override void OnInitialized()
    {
        chartJsConfig = InitConfig();
        base.OnInitialized();
    }

    public void Update(StatsResponse statsResponse)
    {
        if (!chartIsReady)
        {
            return;
        }
        StatsResponse = statsResponse;
        chartJsConfig.RemoveDatasets(chartJsConfig.Data.Datasets);
        UpdateChart();
    }

    private void UpdateChart()
    {
        var labels = StatsResponse.Steps.Select(s => s.Start.ToShortDateString()).ToList();
        var dataset = new BarDataset
        {
            Label = Loc["Amount"],
            Data = StatsResponse.Steps.Select(s => s.TotalAmountWithVat).Cast<object>().ToList(),
            BackgroundColor = "darkblue",
            BorderColor = "darkred",
            BorderWidth = 1
        };
        chartJsConfig.SetLabels(labels);
        chartJsConfig.AddDataset(dataset);
    }

    private void ChartEventTriggered(ChartJsEvent args)
    {
        if (args is ChartJsInitEvent)
        {
            chartIsReady = true;
            UpdateChart();
        }
    }

    private ChartJsConfig InitConfig()
    {
        string mainColor = "#3F5FFA";
        return new()
        {
            Type = ChartType.bar,
            Options = new ChartJsOptions()
            {
                MaintainAspectRatio = true,
                Responsive = true,
                Plugins = new Plugins()
                {
                    Title = new()
                    {
                        Display = true,
                        Text = new IndexableOption<string>(Loc["ChartTitle"]),
                        Color = "white",
                        Font = new()
                        {
                            Size = 16,
                        },
                        Padding = new()
                        {
                            Top = 10,
                            Bottom = 10,
                        }
                    },
                    Datalabels = new()
                    {
                        Display = "auto",
                        Color = "#0a050c",
                        BackgroundColor = "#cdc7ce",
                        BorderColor = "#491756",
                        BorderRadius = 4,
                        BorderWidth = 1,
                        Anchor = "end",
                        Align = "start",
                        Clip = true
                    },
                    Legend = new Legend()
                    {
                        Display = false,
                        Labels = new Labels()
                        {
                            Padding = 0,
                            BoxHeight = 0,
                            BoxWidth = 0
                        }
                    }
                },
                Scales = new()
                {
                    X = new LinearAxis()
                    {
                        Ticks = new ChartJsAxisTick()
                        {
                            Color = mainColor
                        },
                        Grid = new ChartJsGrid()
                        {
                            Display = true,
                            Color = "rgba(113, 116, 143, 0.25)",
                            TickColor = "rgba(113, 116, 143, 0.75)",
                            Z = -1
                        },
                        Border = new ChartJsAxisBorder()
                        {
                            Display = true,
                            Color = "rgba(113, 116, 143)",
                            Dash = new List<double>() { 2, 4 }
                        }
                    },
                    Y = new LinearAxis()
                    {
                        Title = new Title()
                        {
                            Display = true,
                            Text = new IndexableOption<string>(Loc["Amount"]),
                            Color = mainColor
                        },
                        Ticks = new ChartJsAxisTick()
                        {
                            Color = mainColor
                        },
                        Grid = new ChartJsGrid()
                        {
                            Display = true,
                            Color = "rgba(113, 116, 143, 0.25)",
                            TickColor = "rgba(113, 116, 143, 0.75)",
                            Z = -1
                        },
                        Border = new ChartJsAxisBorder()
                        {
                            Display = true,
                            Color = "rgba(113, 116, 143)",
                            Dash = new List<double>() { 2, 4 }
                        }
                    }
                }
            }
        };
    }
}
