@using BlazorInvoice.Shared;

@foreach (var entry in Entries)
{
    <p>@entry.Job @entry.PartyId</p>
}


@code {
    [Parameter]
    public List<WorkEntryDto> Entries { get; set; } = [];

    public void Update(List<WorkEntryDto> entries)
    {
        Entries = entries;
        StateHasChanged();
    }
}
