name: Deploy Blazor WASM to GitHub Pages

on:
    push:
        branches: [main]

permissions:
  contents: write

jobs:
    deploy-to-github-pages:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v5

        - name: Setup .NET Core SDK
          uses: actions/setup-dotnet@v5
          with:
            dotnet-version: '10.0.x'

        - name: Publish .NET Core Project
          run: dotnet publish src/beinx.pwa/beinx.pwa.csproj -c Release -o release --nologo -p:BaseHref=/BeInX/
        
        - name: copy index.html to 404.html
          run: cp release/wwwroot/index.html release/wwwroot/404.html

        - name: Add .nojekyll file
          run: touch release/wwwroot/.nojekyll

        - name: Commit wwwroot to GitHub Pages
          uses: peaceiris/actions-gh-pages@v4
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_branch: gh-pages
            publish_dir: ./release/wwwroot
